
html {
  border: 1px solid #e2cc67;
}

body {
  color: #e2cc67;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
/*  background-color: black;
*/}

#name-brand {
  padding-top: 5px;
  padding-left: 0px;
}

.nav-links {
  padding-right: 8%;
  position: relative;
}
.nav-links:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #e2cc67;
  content: "";
  transition: width 0.7s;
}
.nav-links:hover {
  color: #e2cc67;
}
.nav-links:hover:after {
   width: 70%;
}

nav {
  padding-right: 0px;
  padding-bottom: 5%;
}
.icon-nav{
    position: relative;
    z-index: 1;
    line-height: 23px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
.icon-nav:hover {
    color: #5a5a5a;
}
.btnBefore, .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #e2cc67;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #e2cc67;
    border-radius: 5px;
}
.icon-nav .btnBefore {
    right: 0;
    bottom: -7px;
}
.icon-nav .btnAfter {
    left: 0;
    top: -5px;
}
.icon-nav:hover .btnBefore {
    border-width: 0 0 2px 2px;
}
.icon-nav:hover .btnAfter {
    border-width: 2px 2px 0 0;
}

.icon-nav:hover .btnAfter, .icon-nav:hover .btnBefore {
height: 160%;
width: 100%;
transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}

footer {
  border-bottom: 1px solid #e2cc67;
  margin-top: 20%;
}

.homeImage {
  position: relative;
  top: 15%;
  left: 15%;
  border-radius: 80%;
  display: inline-block;
  height: 70%;
  width: 50%;
}

.homeText {
  font-size: 15px;
  padding-right: 0px;
}

.homeImage img {
  position: static;
  border-radius: 10%;
  display: block;
}
.homeImage:after {
  content: "";
  display: block;
  width: 90%;
  height: 120%;
  background: radial-gradient(ellipse at 50% 35%, rgba(255,255,255,0) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 0%);
  border-radius: 50%;
  position: absolute;
  top: 0%; left: -10%;
}

.tech-images img {
  width: 30%;
}

.tech-text {
  font-size: 25px;
}

.tech-image{
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.tech-image:hover {
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform:scale(1.5);
}

.project-title {
  font-size: 27px;
}

.project-text {
  font-size: 17px;
}

#project-img {
  width: 100%;
}
.resume-panel {
  box-shadow: 10px 10px 5px #888888;
}

#resume-img {
  width: 100%;
}

.current-state {
  border-bottom: 2px solid #e2cc67;
}

.animated {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.animated-1 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.animated-2 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.animated-3 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.animated-4 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
.animated-5 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.animated-6 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
.animated-7 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.animated-8 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.animated-9 {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(800px);
            transform: perspective(800px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(800px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(800px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(800px);
            transform: perspective(800px);
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
}
@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.flipOutX {
  -webkit-animation-name: flipOutX;
          animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25%,
  50%{
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
}
